<section class="section">
  <div class="container">
    <div class="columns">
      <%= render "trends" %>
      <%= render "feed" %>
      <%= render "who-to-follow" %>
    </div>
  </div>
</section>

  <tbody>
    <% @tuites.each do |tuite| %>
      <tr>
        <td><%= tuite.tuite %></td>
        <td><%= link_to 'Show', tuite %></td>
        <td><%= link_to 'Edit', edit_tuite_path(tuite) %></td>
        <td><%= link_to 'Destroy', tuite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tuite', new_tuite_path %>
